# {{ ansible_managed }}

# Declaration des machines autorisees
#       Nom             Source          Communaute
{% for item in cts_role_snmp.servers %}
com2sec supervision     {{ item.address }}     {{ cts_role_snmp.community }}
{% endfor %}

# Declaration des groupes d'acces
#       Nom             Version         Com2sec
group   ReadOnly        v2c             supervision
group   ReadOnly        v1              supervision

# Declaration des vues
#       Nom             Incl/Excl       Subtree         Masque (optionnel)
view    SystemInfo      included        .1.3.6.1
view    SystemOnly      included        .1.3.6.1.2.1.1
view    SystemOnly      included        .1.3.6.1.2.1.25.1
view    all             included        .1              80

# Association Group et View
#       GroupName       Contexte        Version SecLevel        Prefix  Read            Write   Notif
access  ReadOnly        ""              any     noauth          exact   SystemInfo      none    none
